#test-js{
    border:1px solid red;
    min-width: 600px;
    min-height: 100px;
    margin: 0 auto;
    display: none;
}

.error{
    color: red;
}
.success{
    color: green;
}
p{
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0;
    margin-top: 0.4em;
}

